<nav>
  <ul class="flex justify-between items-center gap-16 font-medium">
    <li>
      <a
        class="relative flex justify-center items-center"
        routerLink="/games"
      >
        <span>Games</span>
      </a>
    </li>

    <li>
      <a
        class="relative flex justify-center items-center"
        routerLink="/about"
      >
        <span>About</span>
      </a>
    </li>

    <li>
      <a
        class="relative flex justify-center items-center"
        routerLink="/contact"
      >
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>
