.game-card {
  --glass-opacity-01: 0.1;
  --glass-opacity-02: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;

  width: 100%;
  min-width: 232px;
  max-width: 232px;
  height: 100%;
  margin: 0 auto;
  margin-top: auto;

  transition: transform 0.3s;

  cursor: pointer;

  &:hover {
    transform: translateY(-10px);

    .game-card-glass {
      --glass-opacity-01: 0.2;
      --glass-opacity-02: 0.1;
    }
  }
}

.game-card-gap {
  height: 70px;
}

.game-card-glass {
  height: 100%;

  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, var(--glass-opacity-01)),
    rgba(255, 255, 255, var(--glass-opacity-02))
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);

  transition: background 0.3s;
}

.game-card-image-container {
  position: relative;

  width: 200px;
  height: 206px;
  margin: 0 auto;

  img {
    position: absolute;
    top: -60px;

    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;

    aspect-ratio: 94 / 125;
  }
}

.game-card-info {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 1rem 0;
}
